:root 
{
	--primaryClr: #222;
	--secondaryClr: #2b2b2b;
	--highlightClr: #4e4e4e;
	--textClr: #fff;
}
body
{
	margin: 0px;
	background-color: var(--primaryClr);
}
canvas
{
	position: absolute;
	right: 3%; top: 13.8%;
	width: 65vh; height: 65vh;

	border-radius: 2.5vh;
	border: none;
	background-color:black;
	image-rendering: pixelated;
}
h1
{
	position: absolute;
	font-weight: 100;
	font-family: monospace;
	color: #757575;
	margin-top: 0px;
	font-size: 7vh;
	padding-left: 4vh;
}
@keyframes notif
{
	0%, 100% { opacity: 100%; top: -5%;}
	10%, 90% { opacity: 100%; top: 3%;}
}
#notification
{
	display: flex;
	position: fixed;
	z-index: 99;
	user-select: none;
	border-radius: 1.5vh;
	width: auto; height: auto;
	opacity: 100%;

	top:-5%; left:50%;
	transform: translate(-50%, 0%);

	border: 0.3vh solid;
	background-color: var(--primaryClr);
	transition: top 0.4s;

	font-weight: bolder;
	font-size: 2vh;
	padding: 1vh 1.65vh;
	font-family: monospace;
	align-items: center;
	justify-content: center;
	text-align: center;

	/* animation: notif 3.5s;
	animation-fill-mode:both ;
	animation-play-state: paused; */

}
#content
{
	position: absolute;
	left:50%; top: 50%;
	transform: translate(-50%, -50%);

	width: 125vh; height: 80vh;
	background-color: var(--primaryClr);
}
.element
{
	resize: none;
	user-select: none;

	border: 0.3vh;
	border-style: solid;
	outline: none;

	border-color: var(--highlightClr);
	color: var(--textClr);
	background-color:var(--secondaryClr);

	font-family: monospace;
}
textarea
{
	border-radius: 1.5vh;
	position: absolute;
	font-size: 1.55vh;
	padding: 2vh;
	left: 3%; top: 13.8%;
	height: 72.2%; width: 40%;
}
#actions
{
	position: absolute;
	justify-content: flex-end;
	display: flex;
	left: 3%; top: 87.2%;
	width: 40%; height: 8%;
}
button
{
	font-size: 1.55vh;
	position: relative;
	border-radius: 1.3vh;
}
input[type="file"] { display: none }
.import
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.55vh;
	border-color: #484f47;
	background-color: #273027;
	width: 25%;
	position: relative;
	padding: 0px 1.65vh;
	border-radius: 1.3vh;
}
.generate
{
	border-color: #4f474f;
	background-color: #2a272b;
	margin-left: 1vh;
	width: 38%;
}

.savemaze
{
	border-radius: 1.3vh 0px 0px 1.3vh;
	border-right: none;
	padding: 0px 0px 0px 1vh;
	margin: 0px -1px 0px 0.7vh;

	width: 27%;
}
.dropdown
{
	font-size: 1.55vh;
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 15% center;
	background-size: 1.2em;

	border-radius: 0px 1.3vh 1.3vh 0px;
	border-left: none;
	padding-right: 5%;
	width: 16%;
	z-index: 4;
}
@media (max-width: 125vh) 
{
	#content
	{
		top:0%; left:50%;
		width: 80%; height: auto;
		transform: translate(-50%, 0%);
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}
	#actions
	{
		box-sizing: border-box;
		position:unset;
		width: 100%; height: 9vw;
		margin: 2vw 0px 2vw 0px;
	}
	.savemaze, .import, 
	.dropdown, button { font-size: 2vw }
	h1
	{
		margin-top: 0.67em;
		font-size: 10vw;
		position: relative;
		padding: 0px;
		width: 100%;
	}
	textarea
	{
		border-radius: 1.5vh;
		position: unset;
		font-size: 1.55vh;
		padding: 2vh;
		height: 100vw; width: 100%;
	}
	canvas
	{
		position: unset;
		margin-bottom: 5vw;
		width: 100%; height: 80vw;
	}
}